/* App Layout */
.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-primary);
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

.main-content>section:first-child {
    padding-top: 0;
}